/*

Dart 450 - Assignment 01: Interactive Personality
Felipe Dangond

Css for styling the divs

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}




#one, #three, #five, #seven, #nine, #eleven, #thirteen, #fifteen, #seventeen, #nineteen{
  position: relative;
}

#two, #four, #six, #eight, #ten, #twelve, #fourteen, #sixteen, #eighteen, #twenty {
  position: absolute;

}
